package web_tracking

import "fmt"

templ TrackingButton(bookid uint, completed bool) {
	<div>
		<button
			hx-get={ fmt.Sprintf("/progress/%d", bookid) }
			hx-target="#progress-statistics"
			hx-swap="innerHTML focus-scroll:true"
			class="btn"
		>
			if completed {
				✅ finished
			} else {
				👀 in progress
			}
		</button>
	</div>
}
