package web_tracking

import "fmt"

templ TrackingButton(bookid uint) {
	<div>
		<button
			hx-get={ fmt.Sprintf("/progress/%d", bookid) }
			hx-target="#progress-statistics"
			hx-swap="innerHTML"
			class="btn"
		>👀 tracking</button>
	</div>
}
