package web_tracking

import "fmt"

templ TrackingButton(bookid uint, completed bool) {
	<div>
		<button
			hx-get={ fmt.Sprintf("/progress/details/%d", bookid) }
			hx-target="#content-container"
			hx-swap="innerHTML transition:true"
            hx-push-url="true"
			class="btn btn-neutral btn-outline w-[8rem]"
		>
			if completed {
				✅ finished
			} else {
				👀 tracking
			}
		</button>
	</div>
}
